<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <listeners>
  <listener class-name="Listerner.LoggingListner"></listener>
  </listeners>
  <test name="PaidPlanForUser">
    <classes>
      <class name="com.surveymonkey.testcases.PaidPlanForUser"/>
     </classes>
  </test>
</suite>
